<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>WildTracker - Animal List</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<h1>Animal List</h1>
{{#if animals}}
    <ul>
        {{#each animals}}
            <li>{{this.name}}</li>
        {{/each}}
    </ul>
{{else}}
    <p>No animals found.</p>
{{/if}}
<script src="/js/script.js"></script>
</body>
</html>
