<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>WildTracker - New Animal</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<h1>New Animal</h1>
<form action="/animals" method="POST">
    <label for="name">Name:</label>
    <input type="text" name="name" required><br>
    <button type="submit">Submit</button>
</form>
<script src="/js/script.js"></script>
</body>
</html>
