<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WildTracker - Home</title>
    <link rel="stylesheet" href="/public/images/css/style.css">
</head>
<body>
<h1>Welcome to WildTracker</h1>
<p>Track and manage wildlife sightings.</p>
<script src="/public/images/js/script.js"></script>
</body>
</html>
