<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>WildTracker - Sighting List</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<h1>Sighting List</h1>
{{#if sightings}}
    <ul>
        {{#each sightings}}
            <li>{{this.location}} - {{this.rangerName}}</li>
        {{/each}}
    </ul>
{{else}}
    <p>No sightings found.</p>
{{/if}}
<script src="/js/script.js"></script>
</body>
</html>
